<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports&Fitness/addvenues</title>
    <style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 500px;
    margin: 20px auto 0 auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

</style>
  </head>
  <body>
 <div class="container">
  <h2>Add Venues</h2>
  <form action="/addvenues" method="post">
    <label for="ownerName">Owner Name:</label>
    <input type="text" id="ownerName" name="ownerName" required placeholder="Owner's Name">
    <label for="venueName">Venue Name:</label>
    <input type="text" id="venueName" name="venueName" required placeholder="Venue Name">
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact" required placeholder="Contact">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required placeholder="Address">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email">
    <label for="services">Services:</label>
    <input type="text" id="services" name="services" placeholder="Services">
    <label for="openingtime">Opening Time:</label>
    <input type="time" id="openingtime" name="openingtime">
    <label for="closingtime">Closing Time:</label>
    <input type="time" id="closingtime" name="closingtime">
    <input type="submit" value="Add Venue">
  </form>
</div>
  </body>
</html>