<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports&Fitness/venueconfirm</title>
    <style>
      a { text-decoration: none; color: #333; margin-right: 10px; }</style>
  </head>
  <body>

    <a href="/vendorhome"> Go back to Home </a>
    <p>Please check your mail for confirmation. Thankyou.</p>

  </body>
</html>